body { 
    padding: 0px;
    margin: 0px;
    background-color: #91c1dd;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projetos {
    margin: 0;
    background-color: rgb(247, 255, 254);
    box-shadow: 12px 1px 22px -1px rgba(0,0,0,0.51);
    width: 70%;
    height: 100%;
    border-radius: 20px;
    padding-bottom: 5px;
    min-height: 99.5vh;
}

.grid , .grid2{
    display: flex;
    gap: 50px;
    justify-content: center;
   
}

.grid2 {
    margin-top: 50px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1050px) {
    .grid , .grid2{
      display: grid;
    }
  }

.titulo {
    font-family: 'Abril Fatface' , sans-serif;
    font-size: 32px;
    color: rgb(32, 32, 32);
}

.link > a {
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.titulo-projeto {
    font-size: 20px;
    color: #000000;
}

.projeto1 , .projeto2 , .projeto3 , .projeto4 , .projeto5 {
    display: flex;
    min-height: 275px;
    max-height: 275px; 
    max-width: 200px;
    height: 275px;
    width: 200px;
    border: 1px solid #414141;
    border-radius: 10px;
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: 100% 33%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

.projeto1:hover , .projeto2:hover , .projeto3:hover , .projeto4:hover , .projeto5:hover {
    background-color: #91c1dd83;
}


.projeto1 {
    background-image: url('./img/capa-timer.png');
}


.projeto2 {
    background-image: url('./img/capa-login.png');
}

.projeto3 {
    background-image: url('./img/capa-gerador.png');
}

.projeto4 {
    background-image: url('./img/capa-listatarefa.png');
    
}

.projeto5 {
    background-image: url('./img/capa-parallax.png');
}


.conteudo {
     padding-top: 38%;
}

.linguagens {
    font-size: 23px;
}

i.fab.fa-html5 {
    color: #fd5f04;
}

i.fa-brands.fa-css3-alt {
    color: #0068f0;
}

i.fab.fa-js {
    color: #fdf904;
}

i.fab.fa-php {
    color: #5a3bc9a8;;
}